---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: ProFontWindows;
    src: url('fonts/profontwindows.ttf');
}
@font-face {
    font-family: ProFontWindowsBold;
    src: url('fonts/profontwindows.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: ProFontWindowsItalic;
    src: url('fonts/profontwindows.ttf');
    font-style: italic;
}
@font-face {
    font-family: ProFontWindowsBoldItalic;
    src: url('fonts/profontwindows.ttf');
    font-weight: bolder;
    font-style: italic;
}


// Our variables
$base-font-family: "ProFontWindows", sans-serif; // Maven Pro 
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$spacing-unit-header: 80px;
$spacing-unit-footer: 80px;

$text-color:       #111;
$text-color-footer: #FAFAFA;
$background-color: #fdfdfd;
$background-color-header: #FAFAFA;
$background-color-footer: #333333;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 42%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
		"fonts"
;
