---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <div class="post-content"><span class="post-meta">{{ post.date | date: "%Y-%m-%d" }} >> </span>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} </div>
        
      </li>
    {% endfor %}
  </ul>

</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><< Forward time travel</a>
  {% endif %}

  {% if paginator.next_page %}
  	{% if paginator.previous_page %}
  |  
    {% endif %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Backward time travel >></a>
  {% endif %}
</div>
{% endif %}
