<footer class="site-footer">

	<div class="wrapper">
		<div class="footer-col-wrapper">
			<div class="footer-col  footer-col-1">
				<h2>{{ site.title }}</h2>
				<ul class="contact-list">
					<li>
						<a href="mailto:{{ site.user.email }}">
							<span class="icon icon-mail"></span>
							<span class="username"> {{ site.user.email }}</span>
						</a>
					</li>

					{% if site.user.twitter %}
					<li>
						<a href="https://twitter.com/{{ site.user.twitter }}">
							<span class="icon icon-twitter"></span>
							<span class="username"> {{ site.user.twitter }}</span>
						</a>
					</li>
					{% endif %}

					{% if site.user.linkedin %}
					<li>
						<a href="https://linkedin.com/{{ site.user.linkedin }}">
							<span class="icon icon-linkedin"></span>
							<span class="username"> {{ site.user.linkedin }}</span>
						</a>
					</li>
					{% endif %}

					{% if site.user.github %}
					<li>
						<a href="https://github.com/{{ site.user.github }}">
							<span class="icon icon-github"></span>
							<span class="username"> {{ site.user.github }}</span>
						</a>
					</li>
					{% endif %}

				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<p class="text">{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>
{% if site.google.analytics_id %}{% include google_analytics.html %}{% endif %}