@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ras7a4');
	src:url('fonts/icomoon.eot?#iefix-ras7a4') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ras7a4') format('woff'),
		url('fonts/icomoon.ttf?-ras7a4') format('truetype'),
		url('fonts/icomoon.svg?-ras7a4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 0.8em;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Resto de iconos (iconmoon)
.icon-phone:before {
	content: "\e600";
}
.icon-mobile:before {
	content: "\e601";
}
.icon-directions:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-paperplane:before {
	content: "\e604";
}
.icon-pencil:before {
	content: "\e605";
}
.icon-paperclip:before {
	content: "\e606";
}
.icon-drawer:before {
	content: "\e607";
}
.icon-reply:before {
	content: "\e608";
}
.icon-reply-all:before {
	content: "\e609";
}
.icon-forward:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
.icon-users:before {
	content: "\e60c";
}
.icon-user-add:before {
	content: "\e60d";
}
.icon-vcard:before {
	content: "\e60e";
}
.icon-export:before {
	content: "\e60f";
}
.icon-location:before {
	content: "\e610";
}
.icon-map:before {
	content: "\e611";
}
.icon-location2:before {
	content: "\e612";
}
.icon-target:before {
	content: "\e613";
}
.icon-share:before {
	content: "\e614";
}
.icon-heart:before {
	content: "\e615";
}
.icon-heart2:before {
	content: "\e616";
}
.icon-star:before {
	content: "\e617";
}
.icon-star2:before {
	content: "\e618";
}
.icon-thumbsup:before {
	content: "\e619";
}
.icon-thumbsdown:before {
	content: "\e61a";
}
.icon-chat:before {
	content: "\e61b";
}
.icon-comment:before {
	content: "\e61c";
}
.icon-quote:before {
	content: "\e61d";
}
.icon-house:before {
	content: "\e61e";
}
.icon-popup:before {
	content: "\e61f";
}
.icon-search:before {
	content: "\e620";
}
.icon-printer:before {
	content: "\e621";
}
.icon-bell:before {
	content: "\e622";
}
.icon-cog:before {
	content: "\e623";
}
.icon-tools:before {
	content: "\e624";
}
.icon-trophy:before {
	content: "\e625";
}
.icon-camera:before {
	content: "\e626";
}
.icon-leaf:before {
	content: "\e627";
}
.icon-music:before {
	content: "\e628";
}
.icon-music2:before {
	content: "\e629";
}
.icon-new:before {
	content: "\e62a";
}
.icon-book:before {
	content: "\e62b";
}
.icon-newspaper:before {
	content: "\e62c";
}
.icon-eye:before {
	content: "\e62d";
}
.icon-clock:before {
	content: "\e62e";
}
.icon-microphone:before {
	content: "\e62f";
}
.icon-calendar:before {
	content: "\e630";
}
.icon-gauge:before {
	content: "\e631";
}
.icon-key:before {
	content: "\e632";
}
.icon-drive:before {
	content: "\e633";
}
.icon-rocket:before {
	content: "\e634";
}
.icon-cone:before {
	content: "\e635";
}
.icon-earth:before {
	content: "\e636";
}
.icon-keyboard:before {
	content: "\e637";
}
.icon-browser:before {
	content: "\e638";
}
.icon-publish:before {
	content: "\e639";
}
.icon-progress-3:before {
	content: "\e63a";
}
.icon-progress-2:before {
	content: "\e63b";
}
.icon-brogress-1:before {
	content: "\e63c";
}
.icon-progress-0:before {
	content: "\e63d";
}
.icon-code:before {
	content: "\e63e";
}
.icon-screen:before {
	content: "\e63f";
}
.icon-light-bulb:before {
	content: "\e640";
}
.icon-creditcard:before {
	content: "\e641";
}
.icon-database:before {
	content: "\e642";
}
.icon-clipboard:before {
	content: "\e643";
}
.icon-cart:before {
	content: "\e644";
}
.icon-ticket:before {
	content: "\e645";
}
.icon-signal:before {
	content: "\e646";
}
.icon-uniE647:before {
	content: "\e647";
}
.icon-bars:before {
	content: "\e648";
}
.icon-graph:before {
	content: "\e649";
}
.icon-lock:before {
	content: "\e64a";
}
.icon-lock-open:before {
	content: "\e64b";
}
.icon-logout:before {
	content: "\e64c";
}
.icon-login:before {
	content: "\e64d";
}
.icon-checkmark:before {
	content: "\e64e";
}
.icon-cross:before {
	content: "\e64f";
}
.icon-minus:before {
	content: "\e650";
}
.icon-plus:before {
	content: "\e651";
}
.icon-minus2:before {
	content: "\e652";
}
.icon-plus2:before {
	content: "\e653";
}
.icon-question:before {
	content: "\e654";
}
.icon-help:before {
	content: "\e655";
}
.icon-warning:before {
	content: "\e656";
}
.icon-cycle:before {
	content: "\e657";
}
.icon-cw:before {
	content: "\e658";
}
.icon-ccw:before {
	content: "\e659";
}
.icon-shuffle:before {
	content: "\e65a";
}
.icon-arrow:before {
	content: "\e65b";
}
.icon-arrow2:before {
	content: "\e65c";
}
.icon-retweet:before {
	content: "\e65d";
}
.icon-loop:before {
	content: "\e65e";
}
.icon-history:before {
	content: "\e65f";
}
.icon-layout:before {
	content: "\e660";
}
.icon-list:before {
	content: "\e661";
}
.icon-folder:before {
	content: "\e662";
}
.icon-archive:before {
	content: "\e663";
}
.icon-trash:before {
	content: "\e664";
}
.icon-upload:before {
	content: "\e665";
}
.icon-download:before {
	content: "\e666";
}
.icon-disk:before {
	content: "\e667";
}
.icon-install:before {
	content: "\e668";
}
.icon-cloud:before {
	content: "\e669";
}
.icon-upload2:before {
	content: "\e66a";
}
.icon-bookmark:before {
	content: "\e66b";
}
.icon-play:before {
	content: "\e66c";
}
.icon-pause:before {
	content: "\e66d";
}
.icon-record:before {
	content: "\e66e";
}
.icon-stop:before {
	content: "\e66f";
}
.icon-next:before {
	content: "\e670";
}
.icon-previous:before {
	content: "\e671";
}
.icon-first:before {
	content: "\e672";
}
.icon-last:before {
	content: "\e673";
}
.icon-resize-enlarge:before {
	content: "\e674";
}
.icon-resize-shrink:before {
	content: "\e675";
}
.icon-volume:before {
	content: "\e676";
}
.icon-flow-cascade:before {
	content: "\e677";
}
.icon-flow-branch:before {
	content: "\e678";
}
.icon-flow-tree:before {
	content: "\e679";
}
.icon-flow-line:before {
	content: "\e67a";
}
.icon-flow-parallel:before {
	content: "\e67b";
}
.icon-arrow-left:before {
	content: "\e67c";
}
.icon-arrow-down:before {
	content: "\e67d";
}
.icon-arrow-up:before {
	content: "\e67e";
}
.icon-arrow-right:before {
	content: "\e67f";
}
.icon-arrow-left2:before {
	content: "\e680";
}
.icon-arrow-down2:before {
	content: "\e681";
}
.icon-arrow-up2:before {
	content: "\e682";
}
.icon-arrow-right2:before {
	content: "\e683";
}
.icon-arrow-left3:before {
	content: "\e684";
}
.icon-arrow-down3:before {
	content: "\e685";
}
.icon-arrow-up3:before {
	content: "\e686";
}
.icon-arrow-right3:before {
	content: "\e687";
}
.icon-arrow-left4:before {
	content: "\e688";
}
.icon-arrow-down4:before {
	content: "\e689";
}
.icon-arrow-up4:before {
	content: "\e68a";
}
.icon-uniE68B:before {
	content: "\e68b";
}
.icon-ellipsis:before {
	content: "\e68c";
}
.icon-github:before {
	content: "\e68d";
}
.icon-twitter:before {
	content: "\e68e";
}
.icon-facebook:before {
	content: "\e68f";
}
.icon-googleplus:before {
	content: "\e690";
}
.icon-pinterest:before {
	content: "\e691";
}
.icon-tumblr:before {
	content: "\e692";
}
.icon-linkedin:before {
	content: "\e693";
}
.icon-instagram:before {
	content: "\e694";
}
.icon-dropbox:before {
	content: "\e695";
}
.icon-skype:before {
	content: "\e696";
}
.icon-paypal:before {
	content: "\e697";
}
.icon-soundcloud:before {
	content: "\e698";
}
.icon-circles:before {
	content: "\e699";
}
